*{margin:0;padding:0;text-decoration:none;list-style:none;font-size:small}
img{width: 150px;height: 100px}textarea{resize:vertical}
.errormsg,.successmsg{font-size:.8rem;font-weight:bolder;padding:4px}
.errormsg{background-color:#f00;color:#fff}
.successmsg{background-color:#070;color:#fff}

#developer{width: auto}
#developer dt,dd{display:inline-block}
#developer dt{width:80px;height:80px;overflow:hidden}
#developer dt img{width:100%;height:100%}
#developer dd{font-size:x-small;height:80px;l}




















